@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Ensure no extra margin or background on root */
html, body {
  margin: 0;
  padding: 0;
  background-color: white; /* Set the background color to white or any default color */
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: hidden; /* Prevent vertical overflow */
}

/* Keyframes for animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

/* Utility Classes */
.input {
  @apply w-full px-4 py-2 border border-gray-300 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-green {
  @apply w-full bg-green-500 text-white font-bold py-2 rounded hover:brightness-90 transition duration-300;
}

.underline-hover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #4B55C3;
  transition: width 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
}

/* Body styling for default background and text */
body {
  @apply bg-white text-black;
}










.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  z-index: 1000;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 400px;
  max-height: 80vh;
  overflow-y: auto;
}

.messages {
  flex-grow: 1;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  max-width: 80%;
}

.sent {
  background-color: #e1f5fe; /* Light blue for sent messages */
  align-self: flex-end;
}

.received {
  background-color: #f3f3f3; /* Light gray for received messages */
  align-self: flex-start;
}

.input-area {
  display: flex;
  align-items: center;
}

.input-area input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.input-area button {
  padding: 10px 15px;
  background-color: #3b4cca;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #2a3b99;
}


